<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>date</key>
            <string>Saturday, June 20</string>
            <key>title</key>
            <string>Mermaid Parade</string>
            <key>details</key>
            <string>Technically the first day of summer is June 21. But we’re annexing June 20 in this instance, since today is the nation’s biggest art parade, the Coney Island Mermaid Parade. How could you not, when it means thousands of people walking through the streets of Coney Island in elaborate costumes and on floats. Gather a group, dress to shock and roll up next to your fellow rainbow wing-clad, blue paint-covered sea fanatics. Just don’t go wandering off if you hear siren songs; The Odyssey tells us that’s not such a good idea.</string>
            <key>location</key>
            <string>Coney Island</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Sunday, June 21</string>
            <key>title</key>
            <string>Punk Island</string>
            <key>details</key>
            <string>Second day of summer! How about you visit Staten Island? You scoff, sure, but it’s not just any Staten Island. Today, SI has been taken over by punks! Punk Island is a free all-day music festival where you can see such bands as Cookie Deficiency, Princess Tiny and The Meats, The Sex Zombies and Wombat in Combat. FREE, just like the ferry to get you there. So bring plenty of water, buy some merch, and let your inner punk roar.</string>
            <key>location</key>
            <string>Staten Island</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Monday, June 22</string>
            <key>title</key>
            <string>Literary Death Match</string>
            <key>details</key>
            <string>Four writers enter! Four writers also leave, but not without having their work judged by professionals. Literary Death Match will be taking place at The Bell House. For just a measly $10, you can witness dreams of literary glory get crushed, lightly criticized or even lauded. Four writers get seven minutes each to sell the judges on their work. Then out of the four, two are chosen for a Death Match. It’s the only Literary Death Match taking place in Brooklyn this summer, so for the bookworms out there, this is your chance to show your friends you have a functioning social life, too!</string>
            <key>location</key>
            <string>The Bell House</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Tuesday, June 23</string>
            <key>title</key>
            <string>Lincoln Center Midsummer Night Swing</string>
            <key>details</key>
            <string>One of the most important skills in anyone’s social repertoire is the ability to dance. Dancing makes you instantly more attractive to the people you’re trying to seduce, and can also impress the people who are trying to seduce you but secretly think you can’t dance. In short, learn to dance. Where? Why, at the Lincoln Center Midsummer Night Swing, of course. Dance lessons, live music and even some BBQ afterwards.</string>
            <key>location</key>
            <string>Lincoln Center</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Wednesday, June 24</string>
            <key>title</key>
            <string>Double Dutch Empire</string>
            <key>details</key>
            <string>You’re never too old to double-dutch. Jump to a beat with with Double Dutch Empire in Brooklyn Bridge Park. This event is for people 15 and up—so while you might end up facing off against some flashy high-schoolers, you certainly won’t be upstaged by anyone below knee-level.</string>
            <key>location</key>
            <string>Brooklyn Bridge Park</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Thursday, June 25</string>
            <key>title</key>
            <string>Dark Wonderland</string>
            <key>details</key>
            <string>Visiting a cemetery at night is the best way to get spooked (and even have fun doing it). And if you’ve never visited the Greenwood Cemetery before, it’s going to be especially well-haunted this summer. In celebration of the 150th anniversary of “Alice in Wonderland,” the cemetery handpicked visual artists to turn the cemetery into a modern version of Wonderland called Dark Wonderland, ooooh. So take a step through the looking glass; we guarantee you’ll sleep with one eye open afterwards.</string>
            <key>location</key>
            <string>Greenwood Cemetary</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Friday, June 26</string>
            <key>title</key>
            <string>15th Annual Bicycle Film Festival</string>
            <key>details</key>
            <string>The Anthology Film Festival is hosting the 15th Annual Bicycle Film Festival, founded in 2001 by Brendt Barbur after getting hit by a car while on his bicycle, Barbur wanted to turn the incident into something positive. So he curates this festival mixing together film, music and art to celebrate the two-wheeled commute we know and love.</string>
            <key>location</key>
            <string>Somewhere</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Saturday, June 27</string>
            <key>title</key>
            <string>Trash Bar's Last Night'</string>
            <key>details</key>
            <string>Well, this is it: The Trash Bar’s final night. It may not be seen the way CBGB or Death By Audio were, but you should still say goodbye to this beloved Williamsburg bar, because you know it won’t be replaced by anything near as dirty, weird or fun. They’ll be opening their doors at 1, and they’ve got a full night of music planned for their way out the door. While it be chaos? Obviously, and it will be great.</string>
            <key>location</key>
            <string>Williamsburg</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Sunday, June 28</string>
            <key>title</key>
            <string>STooPS Festival</string>
            <key>details</key>
            <string>There’s something just soooo New York about hanging on out a stoop all day. But don’t be a stoop kid, go out and visit other stoops. Specifically, those involved in the STooPS Festival in Bed-Stuy. For one day, residents of Bed-Stuy will donate their stoops to visual artists, musicians, dancers and performers showcasing their talents to anyone who walks by. It’s FREE, and it’s for everybody. Go and see something cool, and meet your neighbors!</string>
            <key>location</key>
            <string>Bed-Stuy</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Monday, June 29</string>
            <key>title</key>
            <string>Leonard Nimoy Thalia</string>
            <key>details</key>
            <string>Symphony Space is hosting a free tribute to the man who was Spock with a screening of their picks from the classic Star Trek TV series at their theater on the Upper West Side.</string>
            <key>location</key>
            <string>2537 Broadway</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Tuesday, June 30</string>
            <key>title</key>
            <string>Comic Book Club</string>
            <key>details</key>
            <string>A live comedy/talk show for graphic novel enthusiasts. Costs $5. Not only can you listen to comedians talk to industry professionals about the latest comics—along with the occasional musical act—but you can also get your hands on free comics. Also up for grabs at the show, a $25 dollar gift card to Midtown Comics so you can stock up on comics for your summer reading time.</string>
            <key>location</key>
            <string>Somewhere</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Wednesday, July 1</string>
            <key>title</key>
            <string>Arrested Development Bingo</string>
            <key>details</key>
            <string>Bingo isn’t just for grandparents living in homes. It can be fun, and Videology in Williamsburg is proof as they are hosting a bingo competition, with the theme of the game revolving around formerly cancelled now on Netflix TV series “Arrested Development.” Win free beers and frozen bananas while you play in the nude (nobody will actually be nude, we promise).</string>
            <key>location</key>
            <string>Videology Williamsburg</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Thursday, July 2</string>
            <key>title</key>
            <string>¡Presente! The Young Lords in New York</string>
            <key>details</key>
            <string>Did you know that the Bronx Museum is free 24/7, 365. If you’ve never been, or even if it’s one of your favorite spots in the city, head over and check out their newest exhibit ¡Presente! The Young Lords in New York. The exhibit showcases the Puerto Rican radical group that challenged local politics and shaped the identity of urban Latinos in both Chicago and New York City in the 1960’s.</string>
            <key>location</key>
            <string>Bronx Museum</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Friday, July 3</string>
            <key>title</key>
            <string>Forgotten Mysteries of Lower Manhattan</string>
            <key>details</key>
            <string>Walking tours. Nothing like a good walking tour to get the blood flowing. What makes Boroughs of The Dead so special is that they go into detail about the dark and macabre histories of old New York. While the fireworks are being set up for America’s birthday eve, go and learn about the Forgotten Mysteries of Lower Manhattan! Watch out for clowns, as always.</string>
            <key>location</key>
            <string>Bowling Green</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Saturday, July 4</string>
            <key>title</key>
            <string>‘Murrica Day!</string>
            <key>details</key>
            <string>The Macy’s 4th of July Celebration will take place on the East River again this year. So head on over there, or just find a nice rooftop where you can watch the fireworks. Add on some friends, some beer and some BBQ, and ring in the 4th of July in style.</string>
            <key>location</key>
            <string>East River</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Sunday, July 5</string>
            <key>title</key>
            <string>The Tempest</string>
            <key>details</key>
            <string>Hungover from partying all night? Tough titties, because today you’re going to see live theater for free in Harlem. Over at Marcus Garvey Park, The Classical Theater of Harlem will be performing an adaptation of Shakespeare’s “The Tempest,” set between Haiti and the Dominican Republic.</string>
            <key>location</key>
            <string>Classical Theater of Harlem</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Monday, July 6</string>
            <key>title</key>
            <string>An independent bookshops</string>
            <key>details</key>
            <string>Still hungover, huh? It’s the Monday after the 4th of July, so we get it. Maybe a quiet night at home, curled up with a good book, would be the better option. Thankfully for you, we’ve got some great recommendations from some independent bookshops around Brooklyn. Visit one of ’em and pick up a page-turner to while away your night of recovery! Beats waiting for the book on Amazon, that’s for sure.</string>
            <key>location</key>
            <string>Around Brooklyn</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Tuesday, July 7</string>
            <key>title</key>
            <string>"Tangerine"</string>
            <key>details</key>
            <string>It’s high time we mention an outdoor movie, since those things are taking over the city this summer. Sexual identity, race and gender politics are all brought to the forefront in director Clive Barker’s “Tangerine,” which he shot entirely on an iPhone 5s. The film follows a transgendered prostitute living in California.</string>
            <key>location</key>
            <string>TBD</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Wednesday, July 8</string>
            <key>title</key>
            <string>Five Borough Beer Battle</string>
            <key>details</key>
            <string>Used to be that the biggest inter-borough battle was Jay-Z’s: “Who’s the best, MC, Biggie, Jay-Z or Nas?” Huh. Wonder if he ever would have thought that people would be arguing with the same fervor about which borough has the best craft beer? Well, that debate will be heard in Craft Beer Jam – Five Borough Beer Battle, where you can taste beers from around the city (unlabeled) and vote for the best brewery in the city.</string>
            <key>location</key>
            <string>The Greene Space 44 Charlton Street</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Thursday, July 9</string>
            <key>title</key>
            <string>Hibi Rock: The Afro and the Pop Star</string>
            <key>details</key>
            <string>IOHO, The Japan Society doesn’t get much respect. We’re here to help set the record straight: they’re way cool! As part of their Japan Cuts film series, the Japan Society is screening director Yu Irie’s latest film Hibi Rock: The Afro and the Pop Star. It’s about a homeless, broke musician who performs naked at rock clubs around Japan. That is, after getting smashed in the head by a violent woman who is herself a huge pop star. Now keep a straight face and tell us you don’t want to see this.</string>
            <key>location</key>
            <string>The Japan Society</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Friday, July 10</string>
            <key>title</key>
            <string>The Rise of Sneaker Culture</string>
            <key>details</key>
            <string>The Brooklyn Museum (suggested admission, yay) opens their highly anticipated exhibit on sneaker culture. The Rise of Sneaker Culture will showcase 150 different pairs of sneakers, some of them being the most iconic in sports and pop culture history. From Air Jordans to Run DMC’s favorite Adidas shelltops, you can get a glimpse of urban culture over the past 30 years at this exhibit.</string>
            <key>location</key>
            <string>Brooklyn Museum</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Saturday, July 11</string>
            <key>title</key>
            <string>11th Annual Brooklyn Hip Hop Festival</string>
            <key>details</key>
            <string>The 11th Annual Brooklyn Hip Hop Festival will take over DUMBO, with Chicago legend Common headlining. Not to be outdone, Queens natives Mobb Depp will also be feature on the card, along with Brooklyn natives Skyzoo, Torae and Hip Hop legend Ralph McDaniels.</string>
            <key>location</key>
            <string>DUMBO</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Sunday, July 12</string>
            <key>title</key>
            <string>Brooklyn Ice Cream Takedown</string>
            <key>details</key>
            <string>Whenever the temperature goes beyond 80 degrees (and in July it will), nothing beats having yourself a nice, cold cone of ice cream to lower that body temperature. What’s better than having ice cream on a hot summer’s day? How about UNLIMITED ICE CREAM! At the Brooklyn Ice Cream Takedown, you can enjoy ice cream from ice cream makers from all over Brooklyn. Don’t worry you’ll sweat off all that ice cream by the end of the month.</string>
            <key>location</key>
            <string>Royal Palms Shuffleboard Club</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Monday, July 13</string>
            <key>title</key>
            <string>The High Line</string>
            <key>details</key>
            <string>You know, it’s Monday, probably a beautiful day. Why don’t you grab someone special and walk The High Line during the sun set. Everyone will be at work or home, so the crowds will be almost non existent.</string>
            <key>location</key>
            <string>The High Line</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Tuesday, July 14</string>
            <key>title</key>
            <string>Chip Shop</string>
            <key>details</key>
            <string>We are all in the middle of swimsuit season. All those months of working out and not eating anything fun has worked out for you. However, we need a cheat day; a day where we can just pig out and eat things all things deep fried. We recommend you hit up Chip Shop where they have a fry anything policy. Test the limits of their policy by bringing the most unique food options not on the menu.</string>
            <key>location</key>
            <string>129 Atlantic Ave</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Wednesday, July 15</string>
            <key>title</key>
            <string>WNYC’s “Ask Me Another” </string>
            <key>details</key>
            <string>Celebrate 30 years of Central Park SummerStage by attending NPR’s and WNYC’s “Ask Me Another” Live. The questions will all be SummerStage related, with attendees having the chance to be put in the hot seat and try to answer the questions and solve the puzzles delivered by host Ophira Eisenberg.</string>
            <key>location</key>
            <string>SummerStage, Central Park</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Thursday, July 16</string>
            <key>title</key>
            <string>The Carrying of the Giglio</string>
            <key>details</key>
            <string>The Carrying of the Giglio is a Williamsburg tradition that stretches back to 1903. For 11 days, North 8th and Havemeyer are shut down in order for food and game vendors, musicians, and the lifting of an 82ft tall statue will be set up to entertain the community. It’s Italian Williamsburg biggest summer event, so you should catch it on it’s second to last day.</string>
            <key>location</key>
            <string>North 8th and Havemeyer</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Friday, July 17</string>
            <key>title</key>
            <string>Guardians of The Galaxy</string>
            <key>details</key>
            <string>A Guardians of The Galaxy screening, that is educational. The Columbia Astronomy Public Outreach will not only screen the film, but provide a lecture discussing the science in the film, separating fiction from reality.</string>
            <key>location</key>
            <string>Pupin Physics Laboratories, Columbia University</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Saturday, July 18</string>
            <key>title</key>
            <string>Brooklyn Cyclones vs Vermont Lake Monsters</string>
            <key>details</key>
            <string>Baseball is in full swing during the summer. But, who wants to pay top dollar to see millionaires not live up to their paycheck? When you can go see the Brooklyn Cyclones play the Vermont Lake Monsters. You’ll see players who actually want to impress you, and not have to deal with bleacher creatures. Get there earlier in the day to enjoy the beach, some rides and the Smorgasburg outpost.</string>
            <key>location</key>
            <string>Coney Island</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Sunday, July 19</string>
            <key>title</key>
            <string>Rubin Museum Block Party</string>
            <key>details</key>
            <string>A great time to learn about Himalayan culture, activities include making prayer beads, masks, origami and more. There will be performances and a costume contest (which you can enter). All this while eating Himalayan style food and ice cream.</string>
            <key>location</key>
            <string>Rubin Museum of Art, 150 West 17th Street</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Monday, July 20</string>
            <key>title</key>
            <string>Swimming at Brooklyn Bridge Park</string>
            <key>details</key>
            <string>The month is almost over and have you gotten in the pool once? Yes, it’s Monday, but because it’s Monday you have a much better chance of hitting the pop up pool at Brooklyn Bridge Park. You only get 45 minutes to swim in a pool with a view of the Brooklyn Bridge so with everyone at work, you can get an early morning swim with less of a chance of waiting hours for a wristband.</string>
            <key>location</key>
            <string>Brooklyn Bridge Park</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Tuesday, July 21</string>
            <key>title</key>
            <string>“Please Touch The Art”</string>
            <key>details</key>
            <string>Museums can be quite pricey. Also because of rules, and because some of the works are priceless you can’t really touch the art in fear of getting in trouble and/or banned from a museum for life. In Jeppe Hein’s public art project at Brooklyn Bridge Park, “Please Touch The Art,” you are actually encouraged to interact with the installations Hein has left around the park. You can sit, climb, touch, and experience these colorful, and interactive works of public art all summer. We recommend the “Appearing Rooms”</string>
            <key>location</key>
            <string>Brooklyn Bridge Park</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Wednesday, July 22</string>
            <key>title</key>
            <string>The Muscle Shoals All-Stars</string>
            <key>details</key>
            <string>Fifteen of Alabama’s most celebrated session musicians make a rare trip outside the studio. Donnie Fritts and John Paul White open with songs from their forthcoming release.</string>
            <key>location</key>
            <string>Lincoln Center Out of Doors</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Thursday, July 23</string>
            <key>title</key>
            <string>Taco Thursday</string>
            <key>details</key>
            <string>Brooklyn is known as a place to get good coffee and artisanal you name it. What we are not known for, is our tacos. I know some of you are shocked that people think Brooklyn doesn’t have the city’s taco game on lock; especially your friends from Cali who complain that our Mexican style food is inferior to theirs. Well, to show them up and rep your hood, stuff their mouths with the best tacos in Brooklyn. We have guides in both Sunset Park and Bushwick.</string>
            <key>location</key>
            <string>Sunset Park</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Friday, July 24</string>
            <key>title</key>
            <string>Q: The Winged Serpent</string>
            <key>details</key>
            <string>Sure, there are a lot of free summer movies going on around Brooklyn, but instead of seeing “Ghostbusters” in a park for the fourth summer in a row, you can head to the (air-conditioned) Nitehawk Cinema, to view a midnight screening of Q: The Winged Serpent. The plot? A NYC cop has to deal with a serial killer and a winged serpent grabbing the city’s rooftop sunbathers. Be cautious the next time you attend a rooftop party or just laugh while you drink at this one-star classic.</string>
            <key>location</key>
            <string>Williamsburg</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Saturday, July 25</string>
            <key>title</key>
            <string>New York Poetry Festival</string>
            <key>details</key>
            <string>A two day event where the very public and very private poets all over the city are encouraged to convene in Governors Island to celebrate all things poetry. The free event is in its fifth year and will feature readings from poets of all ages reading their work and for poets to meet others who share their passion.</string>
            <key>location</key>
            <string>Governors Island</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Sunday, July 26</string>
            <key>title</key>
            <string>Explore Greenpoint</string>
            <key>details</key>
            <string>Greenpoint is more than just a place to get great donuts. The neighborhood that is home to the once dreaded, now more tolerable G train also has a great art scene that not many people really talk about. Fine art, experimental art, workshops, screenings, even lectures to teach you the art of bookmaking are all available to you. We got a few suggestions for places to visit, so after you grab a donut, you can see some art far from Chelsea and the crowds that fill up The High Line every weekend.</string>
            <key>location</key>
            <string>Greenpoint</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Monday, July 27</string>
            <key>title</key>
            <string>The High Line</string>
            <key>details</key>
            <string>Speaking of The High Line, when it isn’t filled with tourists wanting to take a picture every third step, it’s still a pretty great way to spend an afternoon. Because of the summer months, The High Line is open an extra hour. So get a bench and watch the sun set over the water and see the stars start appearing in the night sky.</string>
            <key>location</key>
            <string>Chelsea</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Tuesday, July 28</string>
            <key>title</key>
            <string>Vintage Shops</string>
            <key>details</key>
            <string>With summer comes the fact that if you aren’t on the ball when it comes to your laundry, you will quickily run out of fresh smelling clothes to go out in. You could be responsible and do your laundry, but it’s summer! Who has time to be responsible. To make sure you aren’t wearing two day old sweaty shirts, you can hit up Brooklyn’s many vintage shops. From well known shops like Beacon’s Closet to lesser known places like Seven Wonders Vintage, we have a guide of places around Brooklyn, so you can find your new favorite pair of shoes or late summer dress.</string>
            <key>location</key>
            <string>North Brooklyn</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Wednesday, July 29</string>
            <key>title</key>
            <string>XPLORE New York City</string>
            <key>details</key>
            <string>It’s the middle of the week, you’re restless and you just want to get out and about, not just hit up another bar or film screening. Well, you can get your urban explorer fix with XPLORE New York City. You can join as a one man army and try to conquer the scavenger hunt on your own, or you can grab three of your friends and make a team. Be elaborate, give your team and members cool names and finally go beyond Lower Manhattan and explore the city.</string>
            <key>location</key>
            <string>Downtown</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Thursday, July 30</string>
            <key>title</key>
            <string>Animation Block Party</string>
            <key>details</key>
            <string>Cartoons are not just for kids. Thankfully, the Music Hall of Williamsburg agrees as they are hosting Animation Block Party. The festival is a celebration of all things animation with screenings of professional, student and independent animation films, along with live talks, games, musical performances and the chance to meet your fellow animation nerds.</string>
            <key>location</key>
            <string>Music Hall of Williamsburg</string>
        </dict>
        <dict>
            <key>date</key>
            <string>Friday, July 31</string>
            <key>title</key>
            <string>This is the name of an event that is happening</string>
            <key>Classic Video Games</key>
            <string>Not everyone these days has some sort of super expensive game system in their living rooms. We still love playing games, but there like $60 bucks and you rather spend it on alcohol, like a real adult. So to have yourself a few drinks, plus relive the good old days when you could assert your video game dominance in person, you can head to Barcade and play classic arcade titles like the Teenage Mutant Ninja Turtles game, WWF Superstars, Metal Slug, Joust and more.</string>
            <key>location</key>
            <string>Barcade</string>
        </dict>
    </array>
</plist>